$font-stack: 'Gill Sans', Montserrat, Helvetica;

$media-phone: "only screen and (max-width: 720px)";

$green: #27AE60;
$yellow: #FFD127;
$red: #F60;

body {
  font-family: $font-stack;
  background-color: $red;
}

.fade-in-and-out {
  -webkit-animation-name: fadeInAndOut;
  -webkit-animation-duration: 2.5s;
  opacity: 0;
}

.slide-in-next {
  -webkit-animation-name: slideInNext;
  -webkit-animation-duration: .25s;
}

.slide-out-next {
  margin-left: -200%;
  -webkit-animation-name: slideOutNext;
  -webkit-animation-duration: .25s;
}

.slide-in-previous {
  -webkit-animation-name: slideInPrevious;
  -webkit-animation-duration: .25s;
}

.slide-out-previous {
  margin-left: -200%;
  -webkit-animation-name: slideOutPrevious;
  -webkit-animation-duration: .25s;
}

main {
  article.box {
    font-size: 36px;
    line-height: 2em;
    margin: 0 auto;
    overflow: visible;
    width: 1024px;
    color: white;
    @media #{$media-phone} {
      width: 300px;
    }
  }

}

.clearfix {
  overflow: auto;
}

input {
  padding: 1em;
  font-size: 36px;
  font-family: $font-stack;
  display: block;
  width: 100%;
  border: none;
}

button {
  padding: 1em;
  font-size: 36px;
  font-family: $font-stack;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 1em;
  background-color: $green;

  &:disabled {
    background-color: #CCC;
  }

  &:hover {

  }
}

@-webkit-keyframes slideInNext {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes slideOutNext {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -200%;
    opacity: 0;
  }
}

@-webkit-keyframes slideInPrevious {
  from {
    margin-left: -200%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes slideOutPrevious {
  from {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
