.fade-in-and-out {
  @include animation('fadeInAndOut 2.5s');
  opacity: 0;
}

.slide-in-next {
  @include animation('slideInNext .25s');
}

.slide-out-next {
  margin-left: -200%;
  @include animation('slideOutNext .25s');
}

.slide-in-previous {
  @include animation('slideInPrevious .25s');
}

.slide-out-previous {
  margin-left: -200%;
  @include animation('slideOutPrevious .25s');
}

.plane {
  position: absolute;
  top: 50%;
  color: white;
  left: -10%;
  @include font-size(60px);
  @include animation('flyOver 20s infinite');
  transform: rotate(45deg);
}

.truck {
  position: absolute;
  bottom: 0;
  color: white;
  left: -10%;
  @include font-size(60px);
  @include animation('driveBy 20s infinite');
  transform: scaleX(-1);
}

@include keyframes(slideInNext) {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@include keyframes(slideOutNext) {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -200%;
    opacity: 0;
  }
}

@include keyframes(slideInPrevious) {
  from {
    margin-left: -200%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@include keyframes(slideOutPrevious) {
  from {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 0;
  }
}

@include keyframes(fadeInAndOut) {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@include keyframes(flyOver) {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

@include keyframes(driveBy) {
  0% {
    left: -10%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
