.fade-in-and-out {
  @include animation('fadeInAndOut 2.5s');
  opacity: 0;
}

.slide-in-next {
  @include animation('slideInNext .25s');
}

.slide-out-next {
  margin-left: -200%;
  @include animation('slideOutNext .25s');
}

.slide-in-previous {
  @include animation('slideInPrevious .25s');
}

.slide-out-previous {
  margin-left: -200%;
  @include animation('slideOutPrevious .25s');
}

.planeContainer {
  position: relative;
  height: 100px;
}

.plane {
  position: absolute;
  color: white;
  @include font-size(60px);
  @include animation('flyAway 10s infinite linear');
}

.building-1 {
  position: absolute;
  bottom: 0;
  color: white;
  left: 30%;
  @include font-size(120px);
}

.building-2 {
  position: absolute;
  bottom: 0;
  color: white;
  left: 60%;
  @include font-size(200px);
}

.building-3 {
  position: absolute;
  bottom: 0;
  left: 40%;
  color: white;
  @include font-size(160px);
}

.building-4 {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: white;
  @include font-size(210px);
}

.building-5 {
  position: absolute;
  bottom: 0;
  left: 20%;
  color: white;
  @include font-size(100px);
}

.building-6 {
  position: absolute;
  bottom: 0;
  left: 22%;
  color: white;
  @include font-size(200px);
}

@include keyframes(slideInNext) {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@include keyframes(slideOutNext) {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -200%;
    opacity: 0;
  }
}

@include keyframes(slideInPrevious) {
  from {
    margin-left: -200%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@include keyframes(slideOutPrevious) {
  from {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 0;
  }
}

@include keyframes(fadeInAndOut) {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@include keyframes(flyAway) {
  0% {
    left: -10%;
    top: 50vh;
    @include transform(scaleY(.5) rotate(45deg));
  }
  100% {
    left: 100%;
    top: 50vh;
    @include transform(scaleY(.5) rotate(45deg));
  }
}
