extends template

block content
  main
    div
      i.fa.fa-plane.fa-4x.plane
    div
      i.fa.fa-building.fa-2x.building-1
    div
      i.fa.fa-building.fa-5x.building-2
    div
      i.fa.fa-building.fa-5x.building-3
    div
      i.fa.fa-building-o.fa-5x.building-4
    div
      i.fa.fa-building.fa-5x.building-5
    div
      i.fa.fa-building-o.fa-5x.building-6
    article.box
      p Thanks, you are all set! We will let you know when we find your potential vacation partners.
