html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/css/stylesheet.css')
  body
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?libraries=places")
  script(src='/js/formHandler.js')
  script.
    var app = [{
          title: 'The Beginning: Press the right arrow key to get started'
        }, {
          title: 'Step One',
          bgColor: '#FACC12',
          inputs: [
            {
              placeholder: 'Where do you want to go?',
              type: 'text',
              name: 'location',
              required: true,
              places: true,
              autofocus: true,
              fn_print: function() {
                return this.value;
              },
              fn_dbFormat: function() {
                return this.value;
              }
            }
          ]
        }, {
          title: 'Step Two',
          bgColor: '#462255',
          inputs: [
            {
              placeholder: 'How much do you want to spend?',
              name: 'cost',
              type: 'number',
              autofocus: true,
              fn_print: function() {
                return '$' + this.value;
              },
              fn_dbFormat: function() {
                return this.value;
              }
            }
          ]
        }, {
          title: 'Step Three',
          bgColor: '#1C6B7C',
          inputs: [
            {
              placeholder: 'When do you want to go?',
              type: 'date',
              name: 'date',
              autofocus: true,
              fn_print: function() {
                var date = new Date(this.value);
                return date.toLocaleDateString();
              },
              fn_dbFormat: function() {
                var date = new Date(this.value);
                return date;
              }
            }
          ]
        }, {
          title: 'The End',
          showData: true,
          bgColor: '#125E3B'
    }];


    var form = new FormHandler({
      steps: app
    });
