extends template

block content
  main
    article.box
      p Welcome to VayKay! Our mission is to help you find someone to travel with. We are currently building out our list of travelers. If you are interested in being one of our first participants, take a minute (we mean it) to #[a(href='/form') tell us where you want to go.] We will work to match you up with a fellow adventurer for your next vaykay. 
