extends template

block content
  body
    #container
    .overlay

block scripts
  script(src='/js/util.js')
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?libraries=places")
  script(src='/lib/d3.min.js')
  script(src='/lib/topojson.v1.min.js')
  script(src='/js/mapHandler.js')
  script(src='/js/formHandler.js')
