.fade-in-and-out {
  -webkit-animation: fadeInAndOut 2.5s;
  -moz-animation: fadeInAndOut 2.5s;
  -ms-animation: fadeInAndOut 2.5s;
  -o-animation: fadeInAndOut 2.5s;
  animation: fadeInAndOut 2.5s;
  opacity: 0; }

.slide-in-next {
  -webkit-animation: slideInNext .25s;
  -moz-animation: slideInNext .25s;
  -ms-animation: slideInNext .25s;
  -o-animation: slideInNext .25s;
  animation: slideInNext .25s; }

.slide-out-next {
  margin-left: -200%;
  -webkit-animation: slideOutNext .25s;
  -moz-animation: slideOutNext .25s;
  -ms-animation: slideOutNext .25s;
  -o-animation: slideOutNext .25s;
  animation: slideOutNext .25s; }

.slide-in-previous {
  -webkit-animation: slideInPrevious .25s;
  -moz-animation: slideInPrevious .25s;
  -ms-animation: slideInPrevious .25s;
  -o-animation: slideInPrevious .25s;
  animation: slideInPrevious .25s; }

.slide-out-previous {
  margin-left: -200%;
  -webkit-animation: slideOutPrevious .25s;
  -moz-animation: slideOutPrevious .25s;
  -ms-animation: slideOutPrevious .25s;
  -o-animation: slideOutPrevious .25s;
  animation: slideOutPrevious .25s; }

.plane {
  position: absolute;
  top: 50%;
  color: white;
  left: -10%;
  font-size: 60px;
  font-size: 5.625vw;
  -webkit-animation: flyOver 20s infinite;
  -moz-animation: flyOver 20s infinite;
  -ms-animation: flyOver 20s infinite;
  -o-animation: flyOver 20s infinite;
  animation: flyOver 20s infinite;
  transform: rotate(45deg); }

.truck {
  position: absolute;
  bottom: 0;
  color: white;
  left: -10%;
  font-size: 60px;
  font-size: 5.625vw;
  -webkit-animation: driveBy 20s infinite;
  -moz-animation: driveBy 20s infinite;
  -ms-animation: driveBy 20s infinite;
  -o-animation: driveBy 20s infinite;
  animation: driveBy 20s infinite;
  transform: scaleX(-1); }

@-webkit-keyframes slideInNext {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0; }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1; } }
@-moz-keyframes slideInNext {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0; }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1; } }
@-ms-keyframes slideInNext {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0; }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1; } }
@-o-keyframes slideInNext {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0; }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1; } }
@keyframes slideInNext {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0; }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1; } }
@-webkit-keyframes slideOutNext {
  from {
    margin-left: 0%; }
  to {
    margin-left: -200%;
    opacity: 0; } }
@-moz-keyframes slideOutNext {
  from {
    margin-left: 0%; }
  to {
    margin-left: -200%;
    opacity: 0; } }
@-ms-keyframes slideOutNext {
  from {
    margin-left: 0%; }
  to {
    margin-left: -200%;
    opacity: 0; } }
@-o-keyframes slideOutNext {
  from {
    margin-left: 0%; }
  to {
    margin-left: -200%;
    opacity: 0; } }
@keyframes slideOutNext {
  from {
    margin-left: 0%; }
  to {
    margin-left: -200%;
    opacity: 0; } }
@-webkit-keyframes slideInPrevious {
  from {
    margin-left: -200%;
    opacity: 0; }
  to {
    margin-left: 0%;
    opacity: 1; } }
@-moz-keyframes slideInPrevious {
  from {
    margin-left: -200%;
    opacity: 0; }
  to {
    margin-left: 0%;
    opacity: 1; } }
@-ms-keyframes slideInPrevious {
  from {
    margin-left: -200%;
    opacity: 0; }
  to {
    margin-left: 0%;
    opacity: 1; } }
@-o-keyframes slideInPrevious {
  from {
    margin-left: -200%;
    opacity: 0; }
  to {
    margin-left: 0%;
    opacity: 1; } }
@keyframes slideInPrevious {
  from {
    margin-left: -200%;
    opacity: 0; }
  to {
    margin-left: 0%;
    opacity: 1; } }
@-webkit-keyframes slideOutPrevious {
  from {
    margin-left: 0%;
    opacity: 1; }
  to {
    margin-left: 100%;
    opacity: 0; } }
@-moz-keyframes slideOutPrevious {
  from {
    margin-left: 0%;
    opacity: 1; }
  to {
    margin-left: 100%;
    opacity: 0; } }
@-ms-keyframes slideOutPrevious {
  from {
    margin-left: 0%;
    opacity: 1; }
  to {
    margin-left: 100%;
    opacity: 0; } }
@-o-keyframes slideOutPrevious {
  from {
    margin-left: 0%;
    opacity: 1; }
  to {
    margin-left: 100%;
    opacity: 0; } }
@keyframes slideOutPrevious {
  from {
    margin-left: 0%;
    opacity: 1; }
  to {
    margin-left: 100%;
    opacity: 0; } }
@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes flyOver {
  0% {
    left: -10%; }
  100% {
    left: 110%; } }
@-moz-keyframes flyOver {
  0% {
    left: -10%; }
  100% {
    left: 110%; } }
@-ms-keyframes flyOver {
  0% {
    left: -10%; }
  100% {
    left: 110%; } }
@-o-keyframes flyOver {
  0% {
    left: -10%; }
  100% {
    left: 110%; } }
@keyframes flyOver {
  0% {
    left: -10%; }
  100% {
    left: 110%; } }
@-webkit-keyframes driveBy {
  0% {
    left: -10%; }
  50% {
    left: 50%; }
  100% {
    left: 110%; } }
@-moz-keyframes driveBy {
  0% {
    left: -10%; }
  50% {
    left: 50%; }
  100% {
    left: 110%; } }
@-ms-keyframes driveBy {
  0% {
    left: -10%; }
  50% {
    left: 50%; }
  100% {
    left: 110%; } }
@-o-keyframes driveBy {
  0% {
    left: -10%; }
  50% {
    left: 50%; }
  100% {
    left: 110%; } }
@keyframes driveBy {
  0% {
    left: -10%; }
  50% {
    left: 50%; }
  100% {
    left: 110%; } }
body {
  font-family: "Gill Sans", Montserrat, Helvetica;
  background-color: #2980b9;
  margin: 0;
  padding: 0; }

.arrow {
  position: fixed;
  top: 50%;
  line-height: 0;
  color: white;
  opacity: 0;
  font-size: 72px;
  font-size: 6.75vw; }
  .arrow.right {
    right: 10px; }

main article.box {
  line-height: 2em;
  margin: 0 auto;
  overflow: visible;
  width: 960px;
  color: white;
  padding-top: 0.5vh;
  font-size: 24px;
  font-size: 2.25vw; }
  @media only screen and (max-width: 60em) {
    main article.box {
      width: 80%;
      font-size: 36px;
      font-size: 3.375vw; } }
  @media only screen and (max-width: 40em) {
    main article.box {
      width: 90%;
      font-size: 48px;
      font-size: 4.5vw; } }
  @media only screen and (max-width: 30em) {
    main article.box {
      width: 95%;
      font-size: 60px;
      font-size: 5.625vw; } }

.progress-bar {
  position: fixed;
  height: 1.5vh;
  background-color: white;
  width: 0;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease; }

.clearfix {
  overflow: auto; }

input {
  padding: 1em 0.25em;
  font-family: "Gill Sans", Montserrat, Helvetica;
  display: block;
  width: 100%;
  border: none;
  font-size: 24px;
  font-size: 2.25vw; }
  @media only screen and (max-width: 60em) {
    input {
      font-size: 36px;
      font-size: 3.375vw; } }
  @media only screen and (max-width: 40em) {
    input {
      font-size: 48px;
      font-size: 4.5vw; } }
  @media only screen and (max-width: 30em) {
    input {
      font-size: 60px;
      font-size: 5.625vw; } }
  input:not(:first-child) {
    margin-top: 10px; }

button {
  padding: 1em;
  font-family: "Gill Sans", Montserrat, Helvetica;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 1em;
  background-color: #27AE60;
  font-size: 24px;
  font-size: 2.25vw;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  @media only screen and (max-width: 60em) {
    button {
      font-size: 36px;
      font-size: 3.375vw; } }
  @media only screen and (max-width: 40em) {
    button {
      font-size: 48px;
      font-size: 4.5vw; } }
  @media only screen and (max-width: 30em) {
    button {
      font-size: 60px;
      font-size: 5.625vw; } }
  button:disabled {
    background-color: #CCC;
    opacity: 0.7; }
    button:disabled:hover {
      background-color: #CCC;
      cursor: default; }
  button:hover {
    background-color: #36d278; }

.custom-dropdown--large {
  font-size: 1.5em; }

.custom-dropdown--small {
  font-size: .7em; }

.custom-dropdown__select {
  font-size: inherit;
  /* inherit size from .custom-dropdown */
  padding: .5em;
  /* add some space*/
  margin: 0;
  /* remove default margins */ }

.custom-dropdown__select--white {
  background-color: #fff;
  color: #444; }

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-top: 10px; }

  .custom-dropdown__select {
    padding-right: 2.5em;
    /* accommodate with the pseudo elements for the dropdown arrow */
    width: 100%;
    border: 0;
    border-radius: 0;
    font-family: "Gill Sans", Montserrat, Helvetica;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none; }

  .custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em; }

  .custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0; }

  .custom-dropdown__select[disabled] {
    color: rgba(0, 0, 0, 0.3); }

  .custom-dropdown.custom-dropdown--disabled::after {
    color: rgba(0, 0, 0, 0.1); }

  /* White dropdown style */
  .custom-dropdown--white::before {
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }

  .custom-dropdown--white::after {
    color: rgba(0, 0, 0, 0.9); }

  /* FF only temp fix */
  @-moz-document url-prefix() {
    .custom-dropdown__select {
      padding-right: 0.9em; }

    .custom-dropdown--large .custom-dropdown__select {
      padding-right: 1.3em; }

    .custom-dropdown--small .custom-dropdown__select {
      padding-right: 0.5em; } } }

/*# sourceMappingURL=stylesheet.css.map */
